label {
    color: black;
    background-color: black;
    margin: 10px;
    padding: 5px;
}

label.hostname-running {
    background-color: #00b817;
}

label.hostname-not-running {
    background-color: #ff7800;
}

label.hostname-unreachable {
    background-color: red;
}

label.hostname-loading {
    background-color: grey;
}

label.purple {
    background-color: #6A329F;
    padding: 0;
}

box {
    background-color: black;
}

