label {
    color: black;
    background-color: black;
    margin-right: 5px;
    padding-right: 5px;
}

label.green {
    color: #00b817;
}

label.orange {
    color: #ff7800;
}

label.red {
    color: red;
}

label.grey {
    color: grey;
}

label.purple {
    color: #6A329F;
}

box {
    background-color: black;
    padding: 2px;
}

window {
    background-color: transparent;
}

label.hostname {
    color: grey;
    min-width: 100px;
}

