label {
    margin-right: 5px;
    padding-right: 5px;
    font-size: x-large;
}

label.green {
    color: #00b817;
}

label.orange {
    color: #ff7800;
}

label.red {
    color: red;
}

label.grey {
    color: grey;
}

box {
    background-color: black;
}

window {
    background-color: transparent;
}

label.hostname {
    color: black;
}

box.host_box {
    background-color: #6A329F;
    padding: 3px;
    margin-left: 3px;
    margin-bottom: 3px;
}